*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
*{
    font-family: "Noto Sans Georgian",sans-serif;
}
body {
    /*background: linear-gradient(blue, darkblue);*/
    /*background: -webkit-linear-gradient(#f6f1d3, #648880, #293f50);*/
    /*background: -moz-linear-gradient(#f6f1d3, #648880, #293f50);*/
    /*background: linear-gradient(#f6f1d3, #648880, #293f50);*/
    min-height: 100vh;
    background: #0f0c29; /* fallback for older browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background-size: cover;
}
.main {
    width: 100%;
    min-height: 100vh;
    padding: 20px; /* Adjust as needed */
}
.main >#home{
    position: relative;
    top: 77px;
    display: flex;
    justify-content: space-evenly;
}
#I1 h1{
    font-size: 47px;
    margin-bottom: 0;
}
#I1 p{
    margin-top: 17px;
    font-size: 32px;
    text-align: center;
}
#I2{
    text-align: center;
}
#I2 img{
    height: 426px;
    width: 322px;
    border-radius:105px
}

#tekst{
    position: relative;
    top: 106px;
    left: 20px;
    color: #dcdbdb;
    font-family: "Noto Sans Georgian",sans-serif;
}
.main #nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo a{
    color: white;
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    margin-right: 40px;
    cursor: pointer;
}

.main #nav1 ul{
    list-style-type: none;
    padding: 0;
    margin-left: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.main #nav1 ul li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-family: "Noto Sans Georgian",sans-serif;
}
.main #nav1 ul li a{
    text-decoration: none;
    color: #dcdbdb;
    transition: color 0.3s;
}
.main #nav1 ul li a:hover{
    /*background-color: white;*/
    color: black;
}

#naslov{
    font-size: 50px;
    color: white;
    display: inline-block;
    border-bottom: 3px solid white;
}
.main > #glavno {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    text-align: justify;

}
#glavno p{
    text-indent: 30px;
    margin: 10px;
    font-size: 19px;
}
#glavno h3{
    font-size: 22px;
}
#slikaKosarka{
    float: right;
    width:170px;
    height: 140px;
    margin: 10px;
    position: relative;
    top: -22px;
    border-radius: 6px;
}
#slikaRubix{
    float:left;
    width:170px;
    height: 140px;
    margin: 10px;
    border-radius: 6px;
}
.celo{
    text-align: center;
    position: relative;
    top: 68px;
    width: 936px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 2px 3px #848181;
}
#contact-form{
    display: flex;
    justify-content: space-evenly;
}
#isprati {
    text-align: left;
    position: relative;
    left: 55px;
    margin-bottom: 20px;
}
#info{
    position: relative;
    right: 30px;
    text-align: left;
}
.forma{
    margin-bottom: 20px;
}
#isprati input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border:none;
    background-color: #f8f9fa;
    color:#333;
}

button{
    border: none;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    background-color: #dcdbdb;
}

#socialMedia{
    list-style-type: none;
    text-align: center;
}


#socialMedia li {
    display: inline-block;
    text-decoration: none;
    width: 52px;
    height: 56px;
    margin: 0 5px;
}

#socialMedia li a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("Sliki/SociaAapps.jpg");
    background-size: 200px 170px;
    background-repeat: no-repeat;
}

#socialMedia li:nth-child(1) a {
    background-position: -130px -56px;
}

#socialMedia li:nth-child(2) a {
    background-position: -75px -56px;
}


/*----------------------------------------------------------------------------*/